.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #333;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.logout-button {
  background: none;
  border: none;
  color:  #ffffff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.logout-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 100%;
  height: 2px;
  background-color: red;
  transition: left 0.3s ease;
}

.logout-button:hover {
  color: red;
}

.logout-button:hover::after {
  left: 0;
}