.manage-exams {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.manage-exams h2 {
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 20px;
  color: #333;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-exam {
  font-size: 1.1rem;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

.exam-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.exam-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.exam-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.005);
}

.exam-card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.exam-card-content p {
  font-size: 1rem;
  color: #555;
}

button {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.delete {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #f81212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #bf0202;
}

.give-verdict {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.give-verdict:hover {
  background-color: #0056b3;
}
